extends layout

block content
  <h1> Welcome </h1>
  p Please choose from the following actions
 
 
  script(src = '/javascripts/img_slider.js')
  
  <button class="button"><a href = 'users/addBook'><span>Add a Book</span></a></button>
  <button class="button2"><a href = 'users/searchBook'><span>Search a Book </span></a></button>
  <button class="button3"><a href = 'users/deleteBook'><span>Delete a Book </span></a></button>
  <button class="button4"><span><a href ='users/chat'>Chat a User</span></a></button>

  <div id ="slider"></div>
  
